.pokemon-card {
	max-width: 200px;
	min-height: 436px;
	margin: 1rem;
	cursor: pointer;
}
.pokemon-deck-container {
  width: 100%;
  max-width: 1480px;
}
.input--spaced {
	margin: 1rem;
	min-width: 16rem;
}