<div fxFlex fxLayout="column" fxLayoutAlign="center center">
	<mat-form-field class="input--spaced">
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search a card">
		<mat-hint>Total: {{ length }}</mat-hint>
	</mat-form-field>
	<div class="pokemon-deck-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around stretch"
		fxLayoutAlign="center center">
		<mat-card *ngFor="let card of cards" class="pokemon-card" [routerLink]="['../details', card.id]">
			<mat-card-header>
				<mat-card-title>{{ card.name }}</mat-card-title>
				<mat-card-subtitle>{{ card.id }}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image [src]="card.imageUrl" [alt]="card.rarity">
			<mat-card-content>
				<mat-chip-list aria-label="types">
					<mat-chip *ngFor="let type of card.types" color="accent" selected>{{ type }}</mat-chip>
				</mat-chip-list>
			</mat-card-content>
		</mat-card>
	</div>
	<div *ngIf="cards && cards.length == 0">
		<div ngFlex fxLayout="column" fxLayoutAlign="center center">
			<img src="src/assets/mimikyu.png" alt="">
			<h2>Opps, looks like no pokemon matches your search. You could choose me, anyway... :/</h2>
		</div>
	</div>
	<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
		[showFirstLastButtons]="false" (page)="eventTable($event)">
	</mat-paginator>
</div>