<div class="page-not-found" ngFlex fxLayout="column" fxLayoutAlign="center center">
	<img class="page-not-found__image" src="src/assets/psyduck.png" alt="">
	<h2 class="page-not-found__message">Psyyy... duck</h2>
</div>