@import '~@angular/material/theming';

@include mat-core();

$pokemon-app-primary: mat-palette($mat-yellow);
$pokemon-app-accent:  mat-palette($mat-brown, A200, A100, A400);
$dark-warn:    				mat-palette($mat-red);
$pokemon-app-theme:   mat-light-theme($pokemon-app-primary, $pokemon-app-accent);

@include angular-material-theme($pokemon-app-theme);


$dark-primary: mat-palette($mat-red, 800, 500, 300);
$dark-accent:  mat-palette($mat-cyan, 600, 400, 200);
$dark-warn:    mat-palette($mat-amber);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.pokemon-dark-theme {
  @include angular-material-theme($dark-theme);
}