<div fxFlex fxLayout="column" fxLayoutAlign="center center">
	<div class="card" fxFlex fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2rem" *ngIf="card">
		<div fxFlex fxLayout="column" fxLayoutAlign="center center" class="card-image-container">
			<img class="card-image-container__image" [src]="card.imageUrlHiRes" [alt]="card.name">
		</div>
		<div fxFlex fxLayout="column" fxLayoutAlign="start none" fxLayoutAlign.xs="start center" class="card-text-container">
			<h2>{{ card.name }}</h2>
			<h3>{{ card.id }}</h3>
			<p>Type(s)</p>
			<mat-chip-list aria-label="types">
				<mat-chip *ngFor="let type of card.types" color="accent" selected>{{ type }}</mat-chip>
			</mat-chip-list>
			<p>Attacks</p>
			<div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start">
				<mat-card class="attack-card" *ngFor="let attack of card.attacks">
					<mat-card-header>
						<mat-card-title>{{ attack.name }}</mat-card-title>
						<mat-card-subtitle>{{ attack.cost }}</mat-card-subtitle>
					</mat-card-header>
					<mat-card-content>
						<mat-chip color="accent" selected>{{ attack.damage }}</mat-chip>
						<p>{{ attack.text }}</p>
					</mat-card-content>
				</mat-card>
			</div>
			<p>Resistances</p>
			<mat-chip-list aria-label="types">
				<mat-chip *ngFor="let resistance of card.resistances" color="primary" selected matBadge="resistance.value"
					matBadgePosition="after" matBadgeColor="accent">{{ resistance.type }} ({{resistance.value}})</mat-chip>
			</mat-chip-list>
			<p>Weaknesses</p>
			<mat-chip-list aria-label="types">
				<mat-chip *ngFor="let weakness of card.weaknesses" color="warn" selected>{{ weakness.type }}
					({{weakness.value}})</mat-chip>
			</mat-chip-list>
		</div>
	</div>
	<div class="pokemon-not-found" ngFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="!card && !loading">
		<img class="pokemon-not-found__image" src="src/assets/team-rocket.png" alt="">
		<h2 class="pokemon-not-found__message">Opps, looks like Team Rocket was faster than you... or it does not exist</h2>
		<h3 class="pokemon-not-found__message">* Blast off at the speed of light *</h3>
	</div>
</div>