.card {
	height: 100%;
	max-width: 1480px;
	margin: 2rem;
}
.card-image-container {
	max-width: 740px;
}
.card-image-container__image {
	max-width: 100%;
}
.card-text-container {
	max-width: 740px;
}
.pokemon-not-found {
	margin: 2rem;
}
.pokemon-not-found__image {
	width: 20rem;
}