<div class="mat-app-background" [ngClass]="{'pokemon-dark-theme': isDarkTheme | async}" style="height: 100%; overflow: auto">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<h1>{{ title }}</h1>
			<span class="spacer"></span>
			<mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">
			</mat-slide-toggle>
		</mat-toolbar-row>
	</mat-toolbar>
	<router-outlet></router-outlet>
</div>